html {
  font-size: 62.5%;
  margin: 0;
}

html, body {
  margin: 0;
  overflow-x: hidden !important;
}

/* HEADER CONTENT */
.header-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
}

.header-first-content {
  align-items: center;
  display: flex;
}

.header-second-content {
  align-items: center;
  display: flex;
  margin-right: 20px;
}

.header-anchors-content {
  display: flex;
  justify-content: center;
  margin-left: 55px;
}

.header-anchor {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.0rem;
  margin-right: 20px;
  text-align: center;
  text-decoration: none;
}

.first {
  min-width: 165px;
}

.second {
  min-width: 98px;
}

.third {
  min-width: 63px;
}

.logo {
  height: 64px;
  margin-left: 16px;
  width: 48px;
}

.become-nanny-button {
  background-color: #00A870;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  height: 44px;
  margin-right: 16px;
  min-width: 234px;
}

.become-nanny-button:hover {
  cursor: pointer;
}

.sign-in-button {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  height: 44px;
  margin-right: 16px;
  min-width: 50px;
}

.sign-in-button:hover {
  cursor: pointer;
}

/* HERO */
.hero {
  background-image: url("./resources/banner_image.png"), linear-gradient(314.72deg, #C86DD7 -1.5%, #7E49C3 39.43%, #5912AC 86.02%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 616px;
  width: 100vw;
}

/* HERO CONTENT */
.hero-content {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.hero-content-right {
  height: 293px;
  width: 316px;
}

.hero-content-right img {
  height: 290px;
  width: 316px;
}

.hero-content-right {
  height: 288px;
  width: 584px;
}

.hero-content-title {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 4.0rem;
  font-weight: 600;
  line-height: 4.8rem;
  letter-spacing: -1px;
  margin: 24px 0;
  text-align: left;
  width: 490px;
}

.hero-content-paragraph {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-align: left;
  width: 584px;
}

.hero-play-content {
  display: flex;
  margin: 24px 0;
}

.hero-play-paragraph {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 10px 16px 0;
  text-align: center;
}

.hero-play-button {
  background-color: #00A870;
  border: none;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.hero-play-button:hover {
  cursor: pointer;
}

.hero-play-button img {
  height: 48px;
  transform: translate(-7px, -1px);
  width: 48px;
}

/* AVAILABLE NANY */
.available-content {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 32px 0;
  width: 100vw;
}

.available-anchor {
  color: #5E20A4;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-left: 32px;
  text-align: center;
  width: 361px;
}

.available-paragraph {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
  width: 325px;
}

/* LINE */
.line {
  border-top: 2px solid #DFDFDF;
  width: 40vw;
  margin: 0;
}

/* SHARE ARTICLE */
.share-article-line-content {
  align-items: center;
  background-color: #FAF9F7;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.share-article-content {
  align-items: center;
  border-top: 2px solid #DFDFDF;
  display: flex;
  justify-content: center;
  padding-top: 64px;
  width: 100vw;
}

.share-article-image-content {
  order: 2;
}

.share-article-text-content {
  order: 1;
  padding-bottom: 64px;
}

.share-article-image {
  height: 392px;
  margin-bottom: 100px;
  width: 584px;
}

.share-article-title {
  color: #3D3D3D;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 3.2rem;
  margin-bottom: 0;
  text-align: left;
  width: 300px;
}

.share-article-paragraph {
  color: #3D3D3D;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  margin-top: 40px;
  text-align: left;
  width: 444px;
}

.share-article-anchor {
  color: #5E20A4;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin-bottom: 64px;
  text-align: left;
  width: 166px;
}

.share-article-span {
  color: #5E20A4;
  font-weight: 600;
  text-decoration: underline;
}

/* NEWS */

.news-content {
  align-items: center;
  background-color: #FAF9F7;
  display: flex;
  justify-content: center;
  flex-direction: column ;
  padding-top: 64px;
}

.news-title {
  margin: 0;
  color: #3D3D3D;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3.2rem;
  text-align: center;
  width: 985px;
}

.news-paragraph {
  color: #3D3D3D;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin: 16px 0 32px;
  text-align: center;
  width: 984px;
}

.news-form {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.form-input {
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  margin: 5px 6px;
  padding: 20px 12px;
  width: 232px;
}

.form-button {
  background-color: #00A870;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  margin-left: 6px;
  padding: 20px 0;
  width: 96px;
}

.form-button:hover {
  cursor: pointer;
}

/* SHARED PAYMENTS */
.shared-payments-line-content {
  align-items: center;
  background-color: #FAF9F7;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.shared-payments-content {
  display: flex;
  justify-content: center;
  padding: 96px 0;
}

.shared-payments-image-content {
  margin-right: 44px;
}

.shared-payments-image {
  height: 336px;
  width: 456px;
}

.shared-payments-title {
  color: #3D3D3D;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 3.2rem;
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
  width: 411px;
}

.shared-payments-paragraph {
  color: #3D3D3D;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  margin: 16px 0;
  text-align: left;
  width: 484px;
}

.shared-payments-anchor {
  color: #5E20A4;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin-top: 8px;
  text-align: left;
  width: 435px;
}

/* FRAMEWORK ARTICLE */
.framework-article-content {
  align-items: center;
  background-color: #FAF9F7;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 42px;
}

.framework-article-image {
  height: 392px;
  margin-bottom: 104px;
  width: 984px;
}

.framework-article-title {
  color: #3D3D3D;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 3.2rem;
  margin-bottom: 0;
  text-align: center;
  width: 469px;
}

.framework-article-paragraph {
  color: #3D3D3D;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  margin: 40px;
  text-align: center;
  width: 784px;
}

.framework-article-anchor {
  color: #5E20A4;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin-top: 8px;
  margin-bottom: 64px;
  text-align: center;
  width: 394px;
}

/* COOMING SOON */
.cooming-soon-content {
  align-items: center;
  background-color: #FAF9F7;
  display: flex;
  justify-content: center;
  padding-top: 64px;
  flex-direction: column;
}

.cooming-soon-title {
  color: #3D3D3D;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 3.2rem;
  margin-bottom: 0;
  text-align: center;
  width: 522px;
}

.cooming-soon-paragraph {
  color: #3D3D3D;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  margin-top: 16px;
  margin-bottom: 64px;
  text-align: center;
  width: 784px;
}

.cooming-soon-image {
  height: 96px;
  width: 216px;
}

/* FOOTER */
.footer-content {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-title {
  color: #3D3D3D;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 3.2rem;
  margin-bottom: 0;
  margin-top: 40px;
  text-align: center;
  width: 380px;
}

.footer-paragraph {
  color: #3D3D3D;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-top: 5px;
  margin-bottom: 24px;
  text-align: center;
  width: 342px;
}

.footer-button-content {
  align-items: center;
  background-color: #5E20A4;
  border: none;
  border-radius: 4px;
  display: flex;
  height: 68px;
  justify-content: space-evenly;
  margin-bottom: 24px;
  width: 304px;
}

.footer-button-content:hover {
  cursor: pointer;
}

.footer-button-first-paragraph {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 500;
  height: 28px;
  line-height: 2.8rem;
  margin: 0;
  text-align: center;
  width: 191px;
}

.footer-button-second-paragraph {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 500;
  height: 16px;
  line-height: 1.6rem;
  margin: 0;
  text-align: center;
  width: 147px;
}

.footer-anchor {
  color: #5E20A4;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin-bottom: 48px;
  text-align: center;
  width: 229px;
}

.footer-subsection-content {
  align-content: center;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.footer-links-content {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 32px;
  margin-bottom: 24px;
  margin-left: 130px;
  width: 500px;
}

.footer-links {
  color: #3D3D3D;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 500;
  height: 20px;
  line-height: 2.0rem;
  margin: 0 16px;
  text-align: center;
  text-decoration: none;
}

.footer-socials-content {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 85px;
}

.footer-social-button {
  background-color: #FFFFFF;
  border: 1px solid #DFDFDF;
  border-radius: 50%;
  height: 45px;
  margin: 0 8px;
  width: 45px;
}

.footer-last-paragraph {
  color: #3D3D3D;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin: 24px 0;
  text-align: center;
  width: 311px;
}

/* <------------ RESPONSIVE! --------------------> */
/* <------------ RESPONSIVE! --------------------> */
/* <------------ RESPONSIVE! --------------------> */
/* <------------ RESPONSIVE! --------------------> */
/* <------------ RESPONSIVE! --------------------> */
/* <------------ RESPONSIVE! --------------------> */
/* <------------ RESPONSIVE! --------------------> */

@media only screen and (max-width: 767px) {
  /* HEADER CONTENT */
  .header-content {
    justify-content: space-between;
  }

  .header-second-content {
    margin: 0;
  }

  .header-anchors-content {
    display: none;
  }

  .sign-in-button {
    display: none;
  }

  /* HERO CONTENT */

  .hero-content-left {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 152px;
  }

  .hero-content-right {
    display: none;
  }

  .hero-content-title {
    align-items: center;
    color: #C4C4C4;
    display: flex;
    font-family: 'Inter';
    font-size: 4.0rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 4.8rem;
    text-align: center;
    width: 272px;
  }

  .hero-content-paragraph {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-style: 400;
    font-size: 1.8rem;
    font-weight: normal;
    height: 84px;
    line-height: 2.4rem;
    margin: 10px 16px 0;
    text-align: center;
    width: 328px;
  }

  .hero-play-content {
    margin: 74px 0;
  }

  /* AVAILABLE NANY */
  .available-content {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 32px 0;
  }

  .available-anchor {
    margin: 10px 74px;
    width: 212px;
  }

  .available-paragraph {
    font-size: 1.4rem;
    line-height: 2.0rem;
    margin: 10px 34px;
    width: 286px;
  }

  /* LINE */
  .line {
    width: 90vw;
  }

  /* SHARE ARTICLE */
  .share-article-content {
    flex-direction: column;
  }

  .share-article-image-content {
    order: 1;
  }
  
  .share-article-text-content {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    order: 2;
  }

  .share-article-image {
    height: 204px;
    margin: 0;
    width: 304px;
  }

  .share-article-title {
    font-size: 2.2rem;
    text-align: center;
    width: 218px;
  }

  .share-article-paragraph {
    margin: 16px 0;
    text-align: center;
    width: 328px;
  }

  .share-article-anchor {
    text-align: left;
  }

  /* NEWS */
  .news-title {
    width: 328px;
  }

  .news-paragraph {
    font-size: 1.6rem;
    line-height: 2.8rem;
    width: 328px;
  }

  .news-form {
    flex-direction: column;
    margin-bottom: 64px;
    width: 80vw;
  }

  .form-input {
    margin: 5px 0;
    padding: 16px;
    width: 100%;
  }

  .form-button {
    margin: 18px 0;
    padding: 16px;
    width: 108%;
  }

  /* SHARED PAYMENTS */
  .shared-payments-content {
    align-items: center;
    background-color: #FAF9F7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 64px 0;
  }

  .shared-payments-image-content {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }

  .shared-payments-text-content {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .shared-payments-image {
    height: 230px;
    width: 312px;
  }

  .shared-payments-title {
    font-size: 2.2rem;
    margin-top: 40px;
    text-align: center;
    width: 218px;
  }

  .shared-payments-paragraph {
    line-height: 2.4rem;
    text-align: center;
    width: 328px;
  }

  .shared-payments-anchor {
    text-align: center;
    width: 328px;
  }

  /* FRAMEWORK ARTICLE */
  .framework-article-image {
    display: none;
  }

  .framework-article-title {
    font-size: 2.2rem;
    width: 218px;
  }

  .framework-article-paragraph {
    line-height: 2.4rem;
    margin: 16px 0;
    width: 328px;
  }

  .framework-article-anchor {
    width: 328px;
  }

  /* COOMING SOON */
  .cooming-soon-title {
    font-size: 2.2rem;
    width: 218px;
  }

  .cooming-soon-paragraph {
    line-height: 2.4rem;
    width: 328px;
  }

  /* FOOTER */
  .footer-title {
    font-size: 2.2rem;
    width: 291px;
  }

  .footer-paragraph {
    font-size: 1.6rem;
    line-height: 2.8rem;
    width: 304px;
  }

  .footer-subsection-content {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .footer-logo {
    width: 64px;
    height: 24px;
  }

  .footer-links-content {
    margin-left: 0;
    margin-bottom: 0;
    width: 250px;
  }

  .footer-links {
    margin-bottom: 17px;
  }
}

