hr {
    border-top: 2px solid #dfdfdf;
    margin: auto;
    width: 57vw;
    left: 50%;
}

a {
    color: #5E20A4;
    font-size: 1rem;
}

.section-info-1 {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    margin: 120px 9vw 120px 16vw;
}

.section-info-1 article{
    gap: 40px;
    display: flex;
    flex-direction: column;
}
.section-info-1 img {
    width: 39vw;
}

.section-info-1 h1 {
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2rem;
}


.section-info-2 {
    margin: 64px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 70px;
}

.section-info-2 article {
    width: 60vw;
    gap: 20px;
}

.section-info-2 h1 {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 2rem;
    margin-bottom: 1vw;
}

.section-info-2 p {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

input {
    border-radius: 4px;
    border: 1px solid #dfdfdf;
    height: 44px;
    padding: 0 20px;
}

.btn-send {
    color: #fff;
    padding: 12px 21px;
    background: #00C88C;
    border-radius: 5%;
    border: 0;
}

.section-info-3 {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    margin: 96px 16vw;
}

.section-info-3 img {
    width: 34vw;
}

.section-info-3 div {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section-info-3 h1 {
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2rem;
}

.section-info-3 p, a {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
}
.section-info-3 a {
    line-height: 1.5rem;
}

.section-info-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 96px 23vw;
    gap: 64px;
    text-align: center;
}

.section-info-4 div {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section-info-4 h1 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2rem;
}
.section-info-4 p, a {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
}
.section-info-4 a {
    line-height: 1.5rem;
}

.section-info-4 img {
    width: 68.3vw;
}

.section-info-5 {
    display: flex;
    flex-direction: column;
    margin: 96px 23vw;
    align-items: center;
    text-align: center;
}

.section-info-5 div {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section-info-5 h1 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2rem;
    margin-top: 40px;
}

.section-info-5 P {
    font-size: 1rem;
    line-height: 1.5rem;
}
.section-info-5 img {
    width: 216px;
}